<% if @user && @user.errors.any? %>
  <div class="alert">
    Please try again:<br><br>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <br>
<% end %>

<h2>Sign Up</h2>

<!-- form includes user's previously entered data on subsequent attempts to sign up after receiving a validation error -->
<form action="/signup" method="POST">
  <label for="username">Username:</label><br>
  <input type="text" id="username" name="username" value="<%= @user.username if @user %>" required>
  <br><br>
  <label for="name">Full Name:</label><br>
  <input type="text" id="name" name="name" value="<%= @user.name if @user %>" required>
  <br><br>
  <label for="email">Email:</label><br>
  <input type="email" id="email" name="email" value="<%= @user.email if @user %>" required>
  <br><br>
  <label for="password">Password:</label><br>
  <input type="password" id="password" name="password" value="<%= @user.password if @user %>" required>
  <br><br>
  <label for="password_confirmation">Confirm Password:</label><br>
  <input type="password" id="password_confirmation" name="password_confirmation" value="<%= @user.password_confirmation if @user %>" required>
  <br><br>
  <input type="submit" value="Sign Up">
</form>
