<% if @size && @size.errors.any? %>
  <div class="alert">
    Please try again:<br><br>
    <ul>
      <% @size.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <br>
<% end %>

<h2><a href="/babies/<%= @size.baby.id %>">Baby <%= @size.baby.name %></a></h2>

<h3>Edit Entry:</h3>

<form action="/sizes/<%= @size.id %>/edit" method="POST">
  <input type="hidden" id="hidden" name="_method" value="PATCH">
  <table border="1">
    <tr>
      <th>Date</th>
      <th style="width:100px">Height (")</th>
      <th style="width:100px">Weight (lbs)</th>
    </tr>
    <tr>
      <td align="center"><input type="date" name="entry_date" class="date" value="<%= @size.entry_date %>" min="<%= @size.baby.birthdate %>" max="<%= Date.current %>" required></td>
      <td align="center"><input type="number" name="height" class="number" value="<%= @size.height %>" step="0.1" min="0.1"></td>
      <td align="center"><input type="number" name="weight" class="number" value="<%= @size.weight %>" step="0.1" min="0.1"></td>
    </tr>
  </table>
  <br>
  <input type="submit" value="Update Entry">
</form>
<br>

<form action="/sizes/<%= @size.id %>/delete" method="POST">
  Or if you would like to delete the entry, click here:
  <input type="hidden" id="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Entry">
</form>
