<% if @size && @size.errors.any? %>
  Please try again:<br><br>
  <ul>
   <% @size.errors.full_messages.each do |msg| %>
     <li><%= msg %></li>
   <% end %>
 </ul><br>
<% end %>

<h2><a href="/babies/<%= @size.baby.slug %>">Baby <%= @size.baby.name %></a></h2>

<h3>Edit Entry:</h3>

<form action="/sizes/<%= @size.id %>/edit" method="POST">
  <input type="hidden" id="hidden" name="_method" value="PATCH">
  <table border="1">
    <tr>
      <th style="width:120px">Date</th>
      <th style="width:100px">Height (")</th>
      <th style="width:100px">Weight (lbs)</th>
    </tr>
    <tr>
      <td align="center"><input type="date" name="entry_date" id="date" value="<%= @size.entry_date if @size %>" max="<%= Date.current %>" required></td>
      <td align="center"><input type="number" name="height" id="number" value="<%= @size.height if @size %>" step="0.1" min="0.1"></td>
      <td align="center"><input type="number" name="weight" id="number" value="<%= @size.weight if @size %>" step="0.1" min="0.1"></td>
    </tr>
  </table>
  <br>
  <input type="submit" value="Update Entry">
</form>
<br>

<form action="/sizes/<%= @size.id %>/delete" method="POST">
  Or if you would like to delete the entry:
  <input type="hidden" id="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Entry">
</form>
