<h2>Baby <%= @baby.name %></h2>

<h3>Birthdate: <%= @baby.birthdate.strftime("%B %-d, %Y") %></h3>

<h3>Caretakers:</h3>
<ul>
  <li><a href="/users/<%= current_user.slug %>"><%= current_user.name %></a></li>
  <% @baby.users.sort_by{|user| user.name.split(" ").last}.each do |user| %>
    <% if user != current_user %>
      <li><%= user.name %></li>
    <% end %>
  <% end %>
</ul>

<h3>Meals:</h3>
<table border="1">
  <tr>
    <th style="width:100px">Date</th>
    <th style="width:100px">Time</th>
    <th style="width:200px">Food Type</th>
  </tr>
  <% @baby.meals.sort_by{|meal| [meal.entry_date, meal.entry_time]}.each do |meal| %>
    <tr>
      <td align="center"><a href="/meals/<%= meal.id %>/edit"><%= meal.entry_date.strftime("%D") %></a></td>
      <td align="center"><%= meal.entry_time.strftime("%l:%M %p") %></td>
      <% if meal.food_type == "solids" %>
        <td align="center"><%= meal.food_type %> (<%= meal.ingredients %>)</td>
      <% else %>
        <td align="center"><%= meal.food_type %></td>
      <% end %>
    </tr>
  <% end %>
</table>
<br>
<% if @baby.meals.empty? %>
  <p><a href="/meals/<%= @baby.slug %>/new">Add an entry</a></p>
<% else %>
  <p>Click on date to see more information or <a href="/meals/<%= @baby.slug %>/new">add an entry</a>.</p>
<% end %>

<h3>Growth:</h3>
<table border="1">
  <tr>
    <th style="width:100px">Date</th>
    <th style="width:100px">Height (")</th>
    <th style="width:100px">Weight (lbs)</th>
  </tr>
  <% @baby.sizes.sort_by{|size| size.entry_date}.each do |size| %>
    <tr>
      <td align="center"><a href="/sizes/<%= size.id %>/edit"><%= size.entry_date.strftime("%D") %></a></td>
      <td align="center"><%= size.height %></td>
      <td align="center"><%= size.weight %></td>
    </tr>
  <% end %>
</table>
<br>
<% if @baby.sizes.empty? %>
  <p><a href="/sizes/<%= @baby.slug %>/new">Add an entry</a></p>
<% else %>
  <p>Click on date to edit entry or <a href="/sizes/<%= @baby.slug %>/new">add an entry</a>.</p>
<% end %>

<form action="/babies/<%= @baby.slug %>/delete" method="POST">
  If you would like to remove <%= @baby.name.split(" ").first %> from your list of babies, click here (<%= @baby.name.split(" ").first %> will remain visible to his or her other caretakers):
  <input type="hidden" id="hidden" name="_method" value="DELETE">
  <input type="submit" value="Remove Baby">
</form>
