<h2>Baby <%= @baby.name %></h2>

<h3>Birthdate: <%= @baby.birthdate.strftime("%B %-d, %Y") %></h3>

<h3>Caretakers:</h3>
<% @baby.users.each do |user| %>
  <ul>
    <% if user.id == current_user.id %>
      <li><a href="/users/<%= user.slug %>"><%= user.name %></a></li>
    <% else %>
      <li><%= user.name %></li>
    <% end %>
  </ul>
<% end %>
<br>

<h3>Meals:</h3>

<h3>Growth:</h3>
<table border="1">
  <tr>
    <th style="width:100px">Date</th>
    <th style="width:100px">Height (")</th>
    <th style="width:100px">Weight (lbs)</th>
  </tr>
  <% @baby.sizes.sort_by{|size| size.entry_date}.each do |size| %>
    <tr>
      <td align="center"><a href="/sizes/<%= size.id %>/edit"><%= size.entry_date.strftime("%D") %></a></td>
      <td align="center"><%= size.height %></td>
      <td align="center"><%= size.weight %></td>
    </tr>
  <% end %>
</table>
<br>
<p>Click on date to edit entry or <a href="/babies/<%= @baby.slug %>/size">add an entry</a>.</p>




<p>
  If you would like to remove <%= @baby.name.split(" ").first %> from your list of babies, click below (<%= @baby.name.split(" ").first %> will remain visible to his or her other caretakers):
  <form action="/babies/<%= @baby.slug %>/delete" method="POST">
    <input type="hidden" id="hidden" name="_method" value="DELETE">
    <input type="submit" value="Remove Baby">
  </form>
</p>
