<h2>Baby <%= @baby.name %></h2>

<h3>Birthdate: <%= @baby.birthdate.strftime("%B %-d, %Y") %></h3>

<h3>Caretakers:</h3>
<% @baby.users.each do |user| %>
  <ul>
    <% if user.id == current_user.id %>
      <li><a href="/users/<%= user.slug %>"><%= user.name %></a></li>
    <% else %>
      <li><%= user.name %></li>
    <% end %>
  </ul>
<% end %>
<br>

<h3>Meals:</h3>

<h3>Height and Weight:</h3>
<% @baby.sizes.each do |size| %>
  <ul>
    <li><a href="/sizes/<%= size.id %>/edit"><%= size.entry_date.strftime("%D") %>: <%= size.height %>" <%= size.weight %> lbs</a></li>
  </ul>
<% end %>
<br>
<p>Click on an entry to edit or <a href="/babies/<%= @baby.slug %>/size">add an entry</a>.</p>

<p>
  If you would like to remove <%= @baby.name.split(" ").first %> from your list of babies, click below (<%= @baby.name.split(" ").first %> will remain visible to his or her other caretakers):
  <form action="/babies/<%= @baby.slug %>/delete" method="POST">
    <input type="hidden" id="hidden" name="_method" value="DELETE">
    <input type="submit" value="Remove Baby">
  </form>
</p>
