<% if @meal && @meal.errors.any? %>
  Please enter the required information:<br><br>
  <ul>
   <% @meal.errors.full_messages.each do |msg| %>
     <li><%= msg %></li>
   <% end %>
 </ul><br>
<% end %>

<h2><a href="/babies/<%= @baby.slug %>">Baby <%= @baby.name %></a></h2>

<h3>Add Meal:</h3>

<form action="/meals/<%= @baby.slug %>/new" method="POST">
  <table border="1">
    <tr>
      <th>Date</th>
      <th>Time</th>
      <th>Food Type</th>
      <% if @meal && @meal.food_type == "breast milk (breast)" %>
        <th>Duration</th>
      <% elsif @meal && (@meal.food_type == "breast milk (bottle)" || @meal.food_type == "formula") %>
        <th>Amount</th>
      <% elsif @meal && @meal.food_type == "solids" %>
        <th>Ingredient(s)</th>
        <th>Amount<br>(optional)</th>
      <% end %>
    </tr>
    <tr>
      <td align="center"><input type="date" name="meal[entry_date]" class="date" value="<%= @meal.entry_date if @meal %>" min="<%= @baby.birthdate %>" max="<%= Date.current %>" required></td>
      <td align="center"><input type="time" name="meal[entry_time]" class="time" value="<%= @meal.entry_time.strftime("%R") if @meal %>" required></td>
      <td align="center">
        <select name="meal[food_type]" required>
          <option value=""></option>
          <option value="breast milk (breast)" <%= "selected" if @meal && @meal.food_type == "breast milk (breast)" %>>breast milk (breast)</option>
          <option value="breast milk (bottle)" <%= "selected" if @meal && @meal.food_type == "breast milk (bottle)" %>>breast milk (bottle)</option>
          <option value="formula" <%= "selected" if @meal && @meal.food_type == "formula" %>>formula</option>
          <option value="solids" <%= "selected" if @meal && @meal.food_type == "solids" %>>solids</option>
        </select>
      </td>
      <% if @meal && @meal.food_type == "breast milk (breast)" %>
        <td align="center"><input type="number" name="meal[duration]" class="number" value="<%= @meal.duration %>" step="0.25" min="0.25" required>min</td>
      <% elsif @meal && (@meal.food_type == "breast milk (bottle)" || @meal.food_type == "formula") %>
        <td align="center">
          <input type="number" name="meal[amount]" class="number" value="<%= @meal.amount %>" step="0.25" min="0.25" required>
          <select name="meal[amount_type]" required>
            <option value=""></option>
            <option value="oz" <%= "selected" if @meal.amount_type == "oz" %>>oz</option>
            <option value="ml" <%= "selected" if @meal.amount_type == "ml" %>>ml</option>
            <option value="cup" <%= "selected" if @meal.amount_type == "cup" %>>cup</option>
            <option value="tbsp" <%= "selected" if @meal.amount_type == "tbsp" %>>tbsp</option>
            <option value="tsp" <%= "selected" if @meal.amount_type == "tsp" %>>tsp</option>
          </select>
        </td>
      <% elsif @meal && @meal.food_type == "solids" %>
        <td align="center"><input type="text" name="meal[ingredients]" class="ingredients" value="<%= @meal.ingredients %>" required></td>
        <td align="center">
          <input type="number" name="meal[amount]" class="number" value="<%= @meal.amount %>" step="0.25" min="0.25">
          <select name="meal[amount_type]">
            <option value=""></option>
            <option value="oz" <%= "selected" if @meal.amount_type == "oz" %>>oz</option>
            <option value="ml" <%= "selected" if @meal.amount_type == "ml" %>>ml</option>
            <option value="cup" <%= "selected" if @meal.amount_type == "cup" %>>cup</option>
            <option value="tbsp" <%= "selected" if @meal.amount_type == "tbsp" %>>tbsp</option>
            <option value="tsp" <%= "selected" if @meal.amount_type == "tsp" %>>tsp</option>
          </select>
        </td>
      <% end %>
    </tr>
  </table>
  <br>
  <label for="notes">Notes (optional):</label>
  <br>
  <textarea id="notes" name="meal[notes]" rows="5" cols="50" placeholder="For example - baby's reaction, preparation techniques"><%= @meal.notes if @meal %></textarea>
  <br><br>
  <input type="submit" value="Add Entry">
</form>
