<h2><a href="/babies/<%= @meal.baby.slug %>">Baby <%= @meal.baby.name %></a></h2>

<h3>Selected Meal:</h3>

<table border="1">
  <tr>
    <th style="width:160px">Date - Time</th>
    <th style="width:160px">Food Type</th>
    <% if @meal.food_type == "breast milk (breast)" %>
      <th style="width:160px">Duration (mins)</th>
    <% elsif @meal.food_type == "breast milk (bottle)" || @meal.food_type == "formula" %>
      <th style="width:160px">Amount (oz)</th>
    <% elsif @meal.food_type == "solids" %>
      <th style="width:160px">Ingredient(s)</th>
    <% end %>
  </tr>
  <tr>
    <td align="center"><%= @meal.entry_datetime.strftime("%D - %l:%M %P") %></td>
    <td align="center"><%= @meal.food_type %></td>
    <% if @meal.food_type == "breast milk (breast)" %>
      <td align="center"><%= @meal.duration %></td>
    <% elsif @meal.food_type == "breast milk (bottle)" || @meal.food_type == "formula" %>
      <td align="center"><%= @meal.amount %></td>
    <% elsif @meal.food_type == "solids" %>
      <td align="center"><%= @meal.ingredients %></td>
    <% end %>
  </tr>
  <tr>
    <td>Notes:<br><%= @meal.notes %></td>
  </tr>
</table>
